@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #333333;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  text-transform: uppercase;
  border: none;
  margin: 0;
  padding: 8px 50px;
}

.button:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

/* Шапка сайта*/
.page-header {
  max-width: 1200px;
  background-color: #FFFFFF;
}

.header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 70px;
  padding-right: 70px;
}

.page-header-logo {
  display: block;
  width: 170px;
  padding-right: 30px;
  margin-bottom: -6px;
  margin-right: -3px;
  -o-object-fit: contain;
  object-fit: contain;
  z-index: 1;
}

.page-header-logo:hover {
  opacity: 0.8;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 339px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

.navigation-item {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-item:hover {
  opacity: 0.7;
}


.navigation-link {
  font: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  display: block;
  margin: 0;
  padding: 20px 16px;
  position: relative;
}



.navigation-link-current::before {
  content: "";
  width: 93px;
  height: 2px;
  background: #756257;
  position: absolute;
  bottom: 0;
}

.navigation-link-checked::before {
  content: "";
  width: 68px;
  height: 2px;
  background: #756257;
  position: absolute;
  bottom: 0;
}

.page-header-logo:focus,
.navigation-link:focus,
.page-header-logo:focus-visible,
.navigation-link:focus-visible {
  opacity: 0.6;
  outline: 1px solid rgba(255, 255, 255, 0.1);
}

.navigation-user-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  margin-left: auto;
  margin-top: 10px;
  padding: 0;
}

.navigation-user-item {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.navigation-icons-search {
  display: block;
  width: 44px;
  background-size: cover;
  padding: 22px 12px;
  background: url("../images/navigation/search-icon.svg") no-repeat;
  background-position: center;
  color: #000000;
}

.navigation-icons-heart {
  display: block;
  width: 44px;
  background-size: cover;
  padding: 22px 12px;
  background: url("../images/navigation/heart-icon.svg") no-repeat;
  background-position: center;
  color: #000000;
  position: relative;
}

.navigation-icons-search:hover,
.navigation-icons-heart:hover {
  color: rgba(0, 0, 0, 0.6);
  outline: none;
}

.navigation-icons-search:focus,
.navigation-icons-heart:focus {
  color: rgba(0, 0, 0, 0.6);
  outline: none;
}

.navigation-icons-heart::before {
  content: "12";
  color: #FFFFFF;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font: inherit;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #7DB54F;
  position: absolute;
  top: 0;
  right: 3px;
}

.navigation-user-link {
  border-radius: 4px;
  padding: 8px 34px;
  margin: 0;
  margin-top: 3px;
  background: #756157;
  margin-left: 20px;
  width: 160px;
  height: 36px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.navigation-user-link:hover,
.navigation-user-link:focus {
  background: #615048;
  outline: none;
}

.navigation-user-link:active {
  color: rgba(255, 255, 255, 0.30);

}

.navigation-link-desire {
  text-decoration: none;
  color: #FFFFFF;
  font: inherit;
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Главная страница сайта */
.main-container {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.hero {
  margin: 0;
  padding: 0;
  margin-bottom: 21px;
}

.hero-title {
  background-color: #82B3D3;
  background-image: url(../images/main-page/main-background.jpg);
  width: 1200px;
  height: 100%;
  display: block;
  background-size: cover;
  position: relative;
}

.hero-image-welcome {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 458px;
  height: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  padding: 51px 371px 82px 371px;
}

.hero-title::after {
  content: url(../images/main-page/hero-decoration.svg);
  position: absolute;
  bottom: -4px;
}

.main-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 69px 0;
}

.main-title {
  font: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 650px;
  margin: 0;
  margin-bottom: 25px;
}

.main-reason {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
}

/* Преимущества */
.advantages-container {
  margin: 0;
  padding: 0;
  width: 1200px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  width: 1200px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.advantages-item {
  margin: 0;
  padding: 110px 85px;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style-type: none;
}

.advantages-image {
  display: block;
  width: 800px;
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  background-color: #82B3D3;
}

.advantages-image-city {
  margin: 0;
  padding: 0;
  grid-column: 2 / -1;
  list-style-type: none;
  background-color: #82B3D3;
}

.advantages-image-bridge {
  margin: 0;
  padding: 0;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  list-style-type: none;
  background-color: #82B3D3;
}

.advantages-item:first-child,
.advantages-item:last-child {
  background-color: #82B3D3;
  color: #FFFFFF;
  margin: 0;
  padding: 103px 83px;
}

.advantages-item:nth-child(odd):not(:first-child):not(:last-child) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(even):not(:first-child):not(:last-child) {
  background-color: rgba(131, 179, 211, 0.20);
}

.advantages-title {
  font: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  width: 175px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.advantages-title::before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -32px;
  width: 60px;
  height: 2px;
  background: rgba(0, 0, 0, 0.30);
}

.advantages-item:first-child .advantages-title::before,
.advantages-item:last-child .advantages-title::before {
  background: rgba(255, 255, 255, 0.30);
}

.advantages-description {
  font: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  width: 232px;
  margin: 0 auto;
  margin-top: 33px;
}

.invite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  padding: 64px 0;
}

.invite-title {
  font: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 505px;
  margin: 0;
  padding: 0;
}

.invite-reason {
  font: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-top: 20px;
  padding: 0;
}

/* Сервис */
.services {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
}

.services-item:nth-child(odd) {
  background: rgba(131, 179, 211, 0.12);
}


.services-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 400px;
  padding: 80px 85px;
  list-style-type: none;
}

.services-title {
  font: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  width: 230px;
  margin: 0;
  margin-top: 29px;
  padding: 0;
}

.services-description {
  font: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  width: 230px;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.services-icons {
  min-width: 75px;
  min-height: 75px;
  display: block;
  margin: 0 auto;
}

.services-icons-housing {
  background: url("../images/services-icons/housing-icon.svg") no-repeat;
  background-position: center;
}

.services-icons-food {
  background: url("../images/services-icons/food-icon.svg") no-repeat;
  background-position: center;
}

.services-icons-souvenirs {
  background: url("../images/services-icons/souvenirs-icon.svg") no-repeat;
  background-position: center;
}

/* Поиск */
.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 96px 304px;
}

.search-title {
  font: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.search-description {
  font: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  width: 592px;
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
}

.button-search {
  font: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  text-decoration: none;
  background: #756157;
  border-radius: 4px;
  width: 376px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.button-search:hover,
.button-search:focus {
  background: #615048;
  outline: none;
}

.button-search:active {
  color: rgba(255, 255, 255, 0.30);

}


/* Подписка */
.subscribe-container {
  margin: 0;
  padding: 96px 258px 104px 258px;
  text-align: center;
}

.subscribe-theme-custom {
  background-color: #82B3D3;
  background: url(../images/main-page/subscribe-background.jpg) no-repeat;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  display: block;
  background-size: cover;
}

.subscribe-title {
  font: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.subscribe-description {
  font: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-email {
  background: #F2F2F2;
  border-radius: 4px 0 0 4px;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  width: 452px;
  padding: 12px 20px;
}

.input-email::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
  background: #F2F2F2;
}

.input-email::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
  background: #F2F2F2;
}

.input-email:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
  background: #F2F2F2;
}

.input-email::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
  background: #F2F2F2;
}

.input-email::placeholder {
  color: rgba(0, 0, 0, 0.6);
  background: #F2F2F2;
}

.input-email:hover::-webkit-input-placeholder,
.input-email:focus::-webkit-input-placeholder {
  background: #e6e6e6;
  outline: none;
}

.input-email:hover::-moz-placeholder,
.input-email:focus::-moz-placeholder {
  background: #e6e6e6;
  outline: none;
}

.input-email:hover:-ms-input-placeholder,
.input-email:focus:-ms-input-placeholder {
  background: #e6e6e6;
  outline: none;
}

.input-email:hover::-ms-input-placeholder,
.input-email:focus::-ms-input-placeholder {
  background: #e6e6e6;
  outline: none;
}

.input-email:hover::placeholder,
.input-email:focus::placeholder,
.input-email:hover,
.input-email:focus,
.input-email:disabled {
  background: #e6e6e6;
  outline: none;
}

.button-subscribe {
  font: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background: #82B3D3;
  color: #FFFFFF;
  border-radius: 0 4px 4px 0;
  width: 232px;
  height: 52px;
  padding: 8px 50px;
}

.button-subscribe:focus-visible {
  outline: none;
}

.button-subscribe:hover {
  background-color: #68a2ca;
}

.button-subscribe:focus {
  background-color: #68a2ca;
}

.button-subscribe:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

/* Подвал сайта */
.page-footer {
  width: 1200px;
  margin: 0 auto;
}

.page-footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 40px 70px 30px 70px;
  margin: 0;
}

.footer-social-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 142px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}


.footer-social-button-vk {
  display: block;
  margin: 0;
  padding: 13px 11px;
  color: #83B3D3;
}

.footer-social-button-tme {
  display: block;
  margin: 0;
  padding: 12px 14px;
  color: #83B3D3;
}

.footer-social-button-youtube {
  display: block;
  margin: 0;
  padding: 11px 12px;
  color: #83B3D3;
}

.footer-social-button-vk:hover,
.footer-social-button-tme:hover,
.footer-social-button-youtube:hover {
  color: #68a2ca;
}

.footer-social-button-vk:focus,
.footer-social-button-tme:focus,
.footer-social-button-youtube:focus {
  color: #68a2ca;
  outline: none;
}

.footer-social-button-vk:active,
.footer-social-button-tme:active,
.footer-social-button-youtube:active {
  color: rgba(104, 162, 202, 0.3);
}


.footer-phone-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
}

.footer-contacts-phone {
  font: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.footer-contacts-phone:hover {
  color: #756157;
  outline: none;
}

.footer-contacts-phone:focus {
  color: #756157;
}

.footer-contacts-phone:focus-visible {
  color: #756157;
  outline: 1px solid rgba(255, 255, 255, 0.1);
}


.footer-contacts-phone:active {
  color: rgba(117, 97, 87, 0.30);
}

.footer-contacts-logo-htmlacademy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  color: #000000;
}

.footer-contacts-logo-htmlacademy:hover {
  color: #756157;
}

.footer-contacts-logo-htmlacademy:focus {
  color: #756157;
  outline: none;
}

.footer-contacts-logo-htmlacademy:active {
  color: rgba(117, 97, 87, 0.30);
}

/* Модальное окно */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal {
  margin: 0 auto;
  padding: 0;
  background: #FFFFFF;
  -webkit-box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  position: relative;
  border-radius: 30px;
  width: 717px;
}

.modal-content {
  margin: 0;
  padding: 64px 70px;
}


.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  cursor: pointer;
  background-image: url(../images/modal-container/close.svg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  border: none;
  border-radius: 50%;
  background-position: center;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  outline: 3px solid #83B3D3;
  color: rgba(0, 0, 0, 1);
}

.modal-close-button:active {
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.3);
  outline: none;
}


.modal-title {
  margin: 0;
  padding: 0;
  padding-bottom: 41px;
  font: inherit;
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  width: 414px;
}


.field-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 23px;
}


.date-form,
.quantity-form {
  color: #000000;
  font: inherit;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
}

.date-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.date-form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 137px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.date-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 4px;
}

.field-date-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 440px;
}

.field-date {
  font: inherit;
  color: #000000;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 440px;
  background-color: #F2F2F2;
  background-image: url(../images/modal-container/date.svg);
  background-repeat: no-repeat;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-position: right 20px center;
  padding: 12px 20px;
  margin-bottom: 4px;
}


.error-message {
  color: #FF5757;
  font: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  padding: 0;
  margin: 0;
  padding-left: 157px;
  text-align: left;
}

.confirm-message {
  color: #333333;
  font: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  padding: 0;
  margin: 0;
  padding-left: 157px;
  text-align: left;
}


.field-date::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
  background-color: #F2F2F2;
}


.field-date::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
  background-color: #F2F2F2;
}


.field-date:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
  background-color: #F2F2F2;
}


.field-date::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
  background-color: #F2F2F2;
}


.field-date::placeholder {
  color: rgba(0, 0, 0, 0.6);
  background-color: #F2F2F2;
}

.field-date:hover {
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.6)
}

.field-date:focus {
  outline: 3px solid #83B3D3;
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.6);
}

.quantity-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 247px 242px;
  grid-template-columns: 247px 242px;
  width: 577px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 23px;
}

.adults {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 91px 46px 110px;
  grid-template-columns: 91px 110px;
  gap: 46px;
  width: 247px;
  padding: 0;
  margin: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.child {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 86px 46px 110px;
  grid-template-columns: 86px 110px;
  gap: 46px;
  margin: 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 242px;
  margin-left: 88px;
}

.tooltip-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.quantity-buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px 30px 40px;
  grid-template-columns: 40px 30px 40px;
  width: 110px;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  background-color: #F2F2F2;
}

.field-quantity {
  font: inherit;
  color: #000000;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 32px;
  height: 48px;
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
  text-align: center;
}

.minus,
.plus {
  width: 40px;
  height: 48px;
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  color: rgba(117, 97, 87, 0.3);
  background-color: #F2F2F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}


.minus:hover,
.plus:hover,
.field-quantity:hover {
  color: #000000;

}

.minus:focus,
.plus:focus,
.field-quantity:focus,
.minus:focus-visible,
.plus:focus-visible,
.field-quantity:focus-visible {
  color: #000000;
  outline: none;
}


.minus:active,
.plus:active,
.field-quantity:active {
  color: rgba(0, 0, 0, 0.2);
  outline: none;
}

.tooltip {
  position: absolute;
  margin: 0;
  margin-left: 45px;
  width: 26px;
  height: 26px;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  margin-left: 12px;
  display: block;
  background-image: url(../images/modal-container/tooltip.svg);
  width: 26px;
  height: 26px;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  display: block;
}

.tooltip-text::before {
  content: "";
  background-image: url(../images/modal-container/triangle.svg);
  width: 19px;
  height: 9px;
  position: absolute;
  top: -9px;
  right: 120px;
}

.tooltip-text {
  background-color: #333333;
  color: #FFFFFF;
  text-transform: none;
  border-radius: 10px;
  width: 256px;
  padding: 15px 18px 18px 22px;
  font: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  position: absolute;
  left: -102px;
  bottom: -147px;
  display: none;
}


.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  z-index: 1000;
  display: block;
}

.search-form-button {
  border: none;
  border-radius: 10px;
  background: #83B3D3;
  font: inherit;
  color: #FFFFFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  width: 577px;
  text-align: center;
  padding: 18px 77px;
  margin: 0;
  margin-top: 48px;
}

.search-form-button:hover,
.search-form-button:focus {
  background-color: #68a2ca;
  outline: none;
}

.search-form-button:active {
  color: rgba(255, 255, 255, 0.3);
}
