@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #333333;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  text-transform: uppercase;
  border: none;
  margin: 0;
  padding: 8px 50px;
}

.page-header {
  max-width: 1200px;
  background-color: #FFFFFF;
}

.header-navigation {
  display: flex;
  flex-wrap: wrap;
  padding-left: 70px;
  padding-right: 70px;
}

.page-header-logo {
  display: block;
  width: 170px;
  padding-right: 30px;
  margin-bottom: -6px;
  margin-right: -2px;
  object-fit: contain;
  z-index: 1;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 339px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.navigation-item {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  display: block;
  margin: 0;
  padding: 20px 16px;
  position: relative;
}

.navigation-link-current::before {
  content: "";
  width: 93px;
  height: 2px;
  background: #756257;
  position: absolute;
  bottom: 0;
}

.navigation-link-checked::before {
  content: "";
  width: 68px;
  height: 2px;
  background: #756257;
  position: absolute;
  bottom: 0;
}

.navigation-user-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.navigation-user-item {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.navigation-icons-search {
  display: block;
  width: 44px;
  height: 100%;
  background-size: cover;
  padding: 22px 12px;
  background: url("../images/navigation-icons/search-icon.svg") no-repeat;
  background-position: center;
  color: #000000;

}

.navigation-icons-heart {
  display: block;
  width: 44px;
  height: 100%;
  background-size: cover;
  padding: 22px 12px;
  background: url("../images/navigation-icons/heart-icon.svg") no-repeat;
  background-position: center;
  color: #000000;
  position: relative;
}

.navigation-icons-heart::before {
  content: "12";
  color: #FFFFFF;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "PT Sans", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #7DB54F;
  position: absolute;
  top: 0;
  right: 0;
}

.navigation-user-link {
  border-radius: 4px;
  padding: 8px 34px;
  margin: 0;
  background: #756157;
  margin-left: 20px;
}

.navigation-user-link:hover,
.navigation-user-link:focus {
  background: #615048;
  outline: none;
}

.navigation-user-link:active {
  color: rgba(255, 255, 255, 0.30);

}

.navigation-link-desire {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.main-container {
  flex-grow: 1;
}

.hero {
  margin: 0;
  padding: 0;
  margin-bottom: 21px;
}

.hero-title {
  background-image: url(../images/index-background.jpg);
  width: 1200px;
  height: 100%;
  display: block;
  background-size: cover;
  position: relative;
}

.hero-image-welcome {
  box-sizing: content-box;
  width: 458px;
  height: 100%;
  display: block;
  object-fit: cover;
  padding: 51px 371px 82px 371px;
}

.hero-title::after {
  content: url(../images/hero-decoration.svg);
  position: absolute;
  bottom: -4px;
}

.main-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 69px 0;
}

.main-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 620px;
  margin: 0;
  margin-bottom: 25px;
}

.main-reason {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
}

.advantages-container {
  margin: 0;
  padding: 0;
  width: 1200px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.advantages-item {
  margin: 0;
  padding: 103px 85px;
  width: 400px;
  min-height: 385px;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

.advantages-image {
  display: block;
  width: 800px;
  object-fit: cover;
  height: 100%;
}

.advantages-image-city {
  margin: 0;
  padding: 0;
  grid-column: 2 / -1;
  list-style-type: none;
}

.advantages-image-bridge {
  margin: 0;
  padding: 0;
  grid-column: 1 / 3;
  list-style-type: none;
}

.advantages-item:first-child,
.advantages-item:last-child {
  background-color: #82B3D3;
  color: #FFFFFF;
}


.advantages-item:nth-child(odd):not(:first-child):not(:last-child) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(even):not(:first-child):not(:last-child) {
  background-color: rgba(131, 179, 211, 0.20);
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  width: 175px;
  margin: 0 auto;
  margin-bottom: 30px;
  position: relative;
}


.advantages-title::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -32px;
  width: 60px;
  height: 2px;
  background: rgba(0, 0, 0, 0.30);
}

.advantages-item:first-child .advantages-title::before,
.advantages-item:last-child .advantages-title::before {
  background: rgba(255, 255, 255, 0.30);
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  width: 230px;
  margin: 0 auto;
  margin-top: 30px;
}



/* Invite */
.invite {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 64px 0;
}

.invite-title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 505px;
  margin: 0;
  padding: 0;
}

.invite-reason {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-top: 20px;
  padding: 0;
}

/* Services */
.services {
  width: 1200px;
  margin: 0;
  padding: 0;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.services-item:first-child,
.services-item:last-child {
  background: rgba(131, 179, 211, 0.12);
}

.services-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 80px 85px;
  list-style-type: none;
}

.services-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  width: 230px;
  margin: 0;
  margin-top: 30px;
  padding: 0;
}

.services-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  width: 230px;
  margin: 0;
  margin-top: 30px;
  padding: 0;
}

.services-icons {
  min-width: 75px;
  min-height: 75px;
  display: block;
  margin: 0 auto;
}

.services-icons-housing {
  background: url("../images/services-icons/housing-icon.svg") no-repeat;
  background-position: center;
}

.services-icons-food {
  background: url("../images/services-icons/food-icon.svg") no-repeat;
  background-position: center;
}

.services-icons-souvenirs {
  background: url("../images/services-icons/souvenirs-icon.svg") no-repeat;
  background-position: center;
}

/* Search*/
.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 304px;
}

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.search-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  width: 592px;
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
}

.button-search {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  text-decoration: none;
  background: #756157;
  border-radius: 4px;
  width: 376px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-search:hover,
.button-search:focus {
  background: #615048;
  outline: none;
}

.button-search:active {
  color: rgba(255, 255, 255, 0.30);

}


/* Subscribe */
.subscribe-container {
  margin: 0;
  padding: 96px 258px 104px 258px;
  text-align: center;
}

.subscribe-theme-custom {
  background: url(../images/subscribe.jpg) no-repeat;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  display: block;
  background-size: cover;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.subscribe-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
}

.subscribe-form {
  display: flex;
}

.input-email {
  background: rgba(242, 242, 242, 1);
  border-radius: 4px 0 0 4px;
  border: none;
  box-sizing: border-box;
  font: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  width: 452px;
  padding: 12px 20px;
}

.input-email::placeholder {
  color: rgba(0, 0, 0, 0.6);
  background: rgba(242, 242, 242, 1);
}

.button-subscribe {
  font: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background: #82B3D3;
  color: #FFFFFF;
  border-radius: 0 4px 4px 0;
  width: 232px;
  height: 52px;
  padding: 8px 50px;
}



/* Footer */
.page-footer {
  width: 1200px;
  margin: 0 auto;

}

.page-footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 70px 30px 70px;
  margin: 0;
}

.footer-social-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 142px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}


.footer-social-button-vk {
  display: block;
  margin: 0;
  padding: 13px 11px;
  color: rgba(131, 179, 211, 1);
}

.footer-social-button-tme {
  display: block;
  margin: 0;
  padding: 12px 14px;
  color: rgba(131, 179, 211, 1);
}

.footer-social-button-youtube {
  display: block;
  margin: 0;
  padding: 11px 12px;
  color: rgba(131, 179, 211, 1);
}

.footer-social-button-vk:hover,
.footer-social-button-tme:hover,
.footer-social-button-youtube:hover {
  color: rgba(104, 162, 202, 1);
}

.footer-social-button-vk:focus,
.footer-social-button-tme:focus,
.footer-social-button-youtube:focus {
  color: rgba(104, 162, 202, 1);
  outline: none;
}

.footer-social-button-vk:active,
.footer-social-button-tme:active,
.footer-social-button-youtube:active {
  color: rgba(104, 162, 202, 1);
}


.footer-phone-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.footer-contacts-phone {
  margin: 0;
  padding: 0;

}

a[href^="tel:"] {
  font: inherit;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;

}

a[href^="tel:"]:focus {
  color: rgba(117, 97, 87, 1);
  outline: none;
}

a[href^="tel:"]:hover {
  color: rgba(117, 97, 87, 1);
}

a[href^="tel:"]:active {
  color: rgba(117, 97, 87, 0.30);
}

.footer-contacts-logo-htmlacademy {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 1);
}

.footer-contacts-logo-htmlacademy:hover {
  color: rgba(117, 97, 87, 1);
}

.footer-contacts-logo-htmlacademy:focus {
  color: rgba(117, 97, 87, 1);
  outline: none;
}

.footer-contacts-logo-htmlacademy:active {
  color: rgba(117, 97, 87, 0.30);
}

/* Модальное окно */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 2;
  display: flex;
  align-items: center;
}

.modal {
  margin: 0 auto;
  padding: 0;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  position: relative;
  border-radius: 30px;
  width: 717px;
}

.modal-content {
  margin: 0;
  padding: 64px 70px;
}


.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  cursor: pointer;
  background-image: url(../images/modal-container/close.svg);
  background-repeat: no-repeat;
  background-color: rgba(242, 242, 242, 1);
  border: none;
  border-radius: 50%;
  background-position: center;
}

.modal-close-button:hover {
  background-color: rgba(230, 230, 230, 1);
}

.modal-close-button:focus {
  outline: 3px solid rgba(131, 179, 211, 1);
  color: rgba(0, 0, 0, 1);
}

.modal-close-button:active {
  background-color: rgba(230, 230, 230, 1);
  color: rgba(0, 0, 0, 0.3);
  outline: none;
}


.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font: inherit;
  font-size: 32px;
  line-height: 35px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.field-group {
  display: grid;
  grid-template-columns: 137px 440px;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 577px;
  row-gap: 48px;
}


.date-form,
.quantity-form {
  color: rgba(0, 0, 0, 1);
  font: inherit;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
}


.field-date {
  font: inherit;
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  padding: 12px 20px;
  border: none;
  appearance: none;
  width: 440px;
  height: 48px;
  background-image: url(../images/modal-container/date.svg);
  background-repeat: no-repeat;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgba(242, 242, 242, 1);
  background-position: right 20px center;
}

input.field-date::placeholder {
  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(242, 242, 242, 1);
}

.field-date:hover {
  background-color: rgba(230, 230, 230, 1);
  color: rgba(0, 0, 0, 0.6)
}

.field-date:focus {
  outline: 3px solid rgba(131, 179, 211, 1);
  background-color: rgba(230, 230, 230, 1);
  color: rgba(0, 0, 0, 0.6);
}

.quantity-container {
  display: grid;
  grid-template-columns: 247px 242px;
  width: 577px;
  align-items: center;
  justify-content: space-between;
}

.adults {
  display: flex;
  flex-wrap: wrap;
  width: 247px;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: space-between;
}

.child {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  align-items: center;
  width: 242px;
  justify-content: space-between;
}

.tooltip-container {
  display: flex;
  flex-wrap: wrap;
}

.quantity-buttons {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  background-color: rgba(242, 242, 242, 1);
}

.field-quantity {
  font: inherit;
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  appearance: none;
  width: 32px;
  height: 48px;
  margin: 0 1px;
  padding: 14px 0;
  background-color: rgba(242, 242, 242, 1);
  text-align: center;
}

.minus,
.plus {
  width: 40px;
  height: 48px;
  margin: 0 2px;
  padding: 14px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  color: rgba(117, 97, 87, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.minus:hover,
.plus:hover,
.field-quantity:hover {
  color: rgba(0, 0, 0, 1);

}

.minus:focus,
.plus:focus {
  color: rgba(0, 0, 0, 1);
  outline: 3px solid rgba(130, 179, 211, 1);
}

.input.field-quantity:focus,
.input.field-quantity:focus-within {
  outline: none;
}

.input.field-quantity:active {
  outline: none;
}

.minus:active,
.plus:active {
  color: rgba(0, 0, 0, 0.2);
  outline: none;
}

.error-message {
  color: rgba(255, 87, 87, 1);
  font: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  padding-left: 157px;
  padding-top: 4px;
  padding-bottom: 23px;
  margin: 0;
}

.confirm-message {
  color: rgba(51, 51, 51, 1);
  font: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  padding-left: 157px;
  padding-top: 4px;
  padding-bottom: 23px;
  margin: 0;
}

.tooltip {
  position: absolute;
  margin: 0;
  margin-left: 45px;
  width: 26px;
  height: 26px;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  margin-left: 12px;
  display: block;
  background-image: url(../images/modal-container/tooltip.svg);
  width: 26px;
  height: 26px;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  display: block;
}

.tooltip-text::before {
  content: "";
  background-image: url(../images/modal-container/triangle.svg);
  width: 19px;
  height: 9px;
  position: absolute;
  top: -9px;
  right: 120px;
}

.tooltip-text {
  background-color: rgba(51, 51, 51, 1);
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  border-radius: 10px;
  width: 256px;
  padding: 15px 18px 18px 22px;
  font: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  position: absolute;
  left: -102px;
  bottom: -147px;
  display: none;
}


.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  z-index: 1000;
  display: block;
}

.search-form-button {
  border: none;
  border-radius: 10px;
  background: rgba(131, 179, 211, 1);
  font: inherit;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  width: 577px;
  text-align: center;
  padding: 18px 77px;
  margin: 0;
  margin-top: 48px;
}

.search-form-button:hover,
.search-form-button:focus {
  background-color: rgba(104, 162, 202, 1);
  outline: none;
}

.search-form-button:active {
  color: rgba(255, 255, 255, 0.3);
}
