@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #333333;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  text-transform: uppercase;
  border: none;
  margin: 0;
  padding: 8px 50px;
}

.page-header {
  max-width: 1200px;
  background-color: #FFFFFF;
}

.header-navigation {
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
}

.page-header-logo {
  display: block;
  width: 170px;
  padding-right: 30px;
  margin-bottom: -6px;
  z-index: 1;
  object-fit: contain;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 339px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.navigation-item {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  display: block;
  margin: 0;
  padding: 20px 16px;
  position: relative;
}

.navigation-link-current::before {
  content: "";
  width: 93px;
  height: 2px;
  background: #756257;
  position: absolute;
  bottom: 0;
}

.navigation-link-checked::before {
  content: "";
  width: 68px;
  height: 2px;
  background: #756257;
  position: absolute;
  bottom: 0;
}

.navigation-user-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.navigation-user-item {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.navigation-icons-search {
  display: block;
  width: 44px;
  height: 100%;
  object-fit: cover;
  padding: 22px 12px;
  background: url("../images/navigation-icons/search-icon.svg") no-repeat;
  background-position: center;
  color: #000000;

}

.navigation-icons-heart {
  display: block;
  width: 44px;
  height: 100%;
  object-fit: cover;
  padding: 22px 12px;
  background: url("../images/navigation-icons/heart-icon.svg") no-repeat;
  background-position: center;
  color: #000000;
  position: relative;
}

.navigation-icons-heart::before {
  content: "12";
  color: #FFFFFF;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "PT Sans", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #7DB54F;
  position: absolute;
  top: 0;
  right: 0;
}

.navigation-user-link {
  display: block;
  border-radius: 4px;
  min-width: 192px;
  padding: 8px 50px;
  margin: 0;
  background: #756157;
  margin-left: 20px;
}

.navigation-user-link:hover,
.navigation-user-link:focus {
  background: #615048;
}

.navigation-user-link:active {
  color: rgba(255, 255, 255, 0.30);

}

.navigation-link-desire {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.main-container {
  flex-grow: 1;
}

.hero {
  margin: 0;
  padding: 0;
  margin-bottom: 21px;
}

.hero-title {
  background-image: url(../images/index-background.jpg);
  width: 1200px;
  height: 100%;
  display: block;
  object-fit: cover;
  position: relative;
}

.hero-image-welcome {
  box-sizing: content-box;
  width: 458px;
  height: 100%;
  display: block;
  object-fit: cover;
  padding: 51px 371px 82px 371px;
}

.hero-title::after {
  content: url(../images/hero-decoration.svg);
  position: absolute;
  bottom: -6px;
}

.main-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 69px 0;
}

.main-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 620px;
  margin: 0;
  margin-bottom: 25px;
  outline: 2px solid red;
  outline-offset: -2px;
}

.main-reason {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  outline: 2px solid red;
  outline-offset: -2px;
}

.advantages-container {
  margin: 0;
  padding: 0;
  width: 1200px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  outline: 2px solid red;
  outline-offset: -2px;
}

.advantages-item {
  margin: 0;
  padding: 103px 85px;
  width: 400px;
  min-height: 385px;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  outline: 2px solid red;
  outline-offset: -2px;
  position: relative;
}

.advantages-image {
  display: block;
  width: 800px;
  object-fit: cover;
  height: 100%;
}

.advantages-image-city {
  margin: 0;
  padding: 0;
  grid-column: 2 / -1;
  list-style-type: none;
}

.advantages-image-bridge {
  margin: 0;
  padding: 0;
  grid-column: 1 / 3;
  list-style-type: none;
}

.advantages-item:first-child,
.advantages-item:last-child {
  background-color: #82B3D3;
  color: #FFFFFF;
}


.advantages-item:nth-child(odd):not(:first-child):not(:last-child) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(even):not(:first-child):not(:last-child) {
  background-color: rgba(131, 179, 211, 0.20);
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  width: 175px;
  margin: 0 auto;
  margin-bottom: 30px;
  outline: 2px solid red;
  outline-offset: -2px;
}



.advantages-title::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 49%;
  transform: translate(-50%);
  width: 60px;
  height: 2px;
  background: rgba(0, 0, 0, 0.30);
}

.advantages-item:first-child .advantages-title::before,
.advantages-item:last-child .advantages-title::before {
  background: rgba(255, 255, 255, 0.30);
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  width: 230px;
  margin: 0 auto;
  margin-top: 30px;
  outline: 2px solid red;
  outline-offset: -2px;
}



/* Invite */
.invite {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 64px 0;
  outline: 2px solid red;
  outline-offset: -2px;
}

.invite-title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 505px;
  margin: 0;
  padding: 0;
  outline: 2px solid red;
  outline-offset: -2px;
}

.invite-reason {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  outline: 2px solid red;
  outline-offset: -2px;
}

/* Services */
.services {
  width: 1200px;
  margin: 0;
  padding: 0;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.services-item:first-child,
.services-item:last-child {
  background: rgba(131, 179, 211, 0.12);
  outline: 2px solid red;
  outline-offset: -2px;
}

.services-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 80px 85px;
  list-style-type: none;
  outline: 2px solid red;
  outline-offset: -2px;
}

.services-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  width: 230px;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  outline: 2px solid red;
  outline-offset: -2px;
}

.services-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  width: 230px;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  outline: 2px solid red;
  outline-offset: -2px;
}

.services-icons {
  min-width: 75px;
  min-height: 75px;
  display: block;
  margin: 0 auto;
}

.services-icons-housing {
  background: url("../images/services-icons/housing-icon.svg") no-repeat;
  background-position: center;
  outline: 2px solid red;
  outline-offset: -2px;
}

.services-icons-food {
  background: url("../images/services-icons/food-icon.svg") no-repeat;
  background-position: center;
  outline: 2px solid red;
  outline-offset: -2px;
}

.services-icons-souvenirs {
  background: url("../images/services-icons/souvenirs-icon.svg") no-repeat;
  background-position: center;
  outline: 2px solid red;
  outline-offset: -2px;
}

/* Search*/
.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 304px;
  outline: 2px solid red;
  outline-offset: -2px;
}

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  outline: 2px solid red;
  outline-offset: -2px;
}

.search-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  width: 592px;
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
  outline: 2px solid red;
  outline-offset: -2px;
}

.button-search {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  text-decoration: none;
  background: #756157;
  border-radius: 4px;
  width: 376px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 2px solid red;
  outline-offset: -2px;
}

.button-search:hover,
.button-search:focus {
  background: #615048;
}

.button-search:active {
  color: rgba(255, 255, 255, 0.30);

}


/* Subscribe */
.subscribe-container {
  margin: 0;
  padding: 96px 258px 104px 258px;
  text-align: center;
}

.subscribe-theme-custom {
  background: url(../images/subscribe.jpg) no-repeat;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  display: block;
  object-fit: cover;
  outline: 2px solid red;
  outline-offset: -2px;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  outline: 2px solid red;
  outline-offset: -2px;
}

.subscribe-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
  outline: 2px solid red;
  outline-offset: -2px;
}

.subscribe-form {
  display: flex;

}

.email-form {
  background: rgba(242, 242, 242, 1);
}

.input-email {
  background: rgba(242, 242, 242, 1);
  border-radius: 4px 0 0 4px;
  border: none;
  box-sizing: border-box;
  font: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  width: 452px;
  padding: 12px 20px;
  outline: 2px solid red;
  outline-offset: -2px;
}

.input-email::placeholder {
  color: #000000;
  background: rgba(242, 242, 242, 1);
}

.button-subscribe {
  font: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background: #82B3D3;
  color: #FFFFFF;
  border-radius: 0 4px 4px 0;
  width: 232px;
  height: 52px;
  padding: 8px 50px;
  outline: 2px solid red;
  outline-offset: -2px;
}



/* Footer */
.page-footer {
  width: 1200px;
  margin: 0 auto;

}

.page-footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 70px 30px 70px;
  outline: 2px solid red;
  outline-offset: -2px;
}

.footer-social-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 142px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}


.footer-social-button-vk {
  display: block;
  margin: 0;
  padding: 13px 11px;
  color: #82B3D3;
  outline: 2px solid red;
  outline-offset: -2px;
}

.footer-social-button-tme {
  display: block;
  margin: 0;
  padding: 12px 14px;
  color: #82B3D3;
  outline: 2px solid red;
  outline-offset: -2px;
}

.footer-social-button-youtube {
  display: block;
  margin: 0;
  padding: 11px 12px;
  color: #82B3D3;
  outline: 2px solid red;
  outline-offset: -2px;
}

.footer-social-button-vk:hover,
.footer-social-button-tme:hover,
.footer-social-button-youtube:hover {
  color: #68A2CA;
}

.footer-social-button-vk:focus,
.footer-social-button-tme:focus,
.footer-social-button-youtube:focus {
  color: #68A2CA;
}

.footer-social-button-vk:active,
.footer-social-button-tme:active,
.footer-social-button-youtube:active {
  color: #82B3D3;
  opacity: 0.3;
}


.footer-phone-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  outline: 2px solid red;
  outline-offset: -2px;
  padding: 0;
  margin: 0 auto;
}

.footer-contacts-phone {
  margin: 0;
  padding-left: 195px;
  padding-right: 194px;
  min-width: 331px;
  outline: 2px solid red;
  outline-offset: -2px;
}

a[href^="tel:"] {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;

}

a[href^="tel:"]:focus {
  color: #756157;
}

a[href^="tel:"]:hover {
  color: #756157;
}

a[href^="tel:"]:active {
  color: rgba(117, 97, 87, 0.30);
}

.footer-contacts-logo-htmlacademy {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  outline: 2px solid red;
  outline-offset: -2px;
  color: #000000
}

.footer-contacts-logo-htmlacademy:hover {
  color: #756157;
}

.footer-contacts-logo-htmlacademy:focus {
  color: #756157;
}

.footer-contacts-logo-htmlacademy:active {
  color: #756157;
  opacity: 0.3;
}



/* Filters */
.filters-section {
  background: url("../images/filter.jpg") no-repeat;
  color: #FFFFFF;
  object-fit: cover;
  display: block;
  margin: 0;
  padding: 35px 70px 70px 70px;
  width: 1200px;
  height: 100%;
}

.breadcrumbs {
  list-style-type: none;
  display: inline-flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  justify-content: flex-start;
  align-items: center;
  width: 114px;
}

.breadcrumbs-link-home {
  width: 13px;
  height: 13px;
}

.breadcrumbs-link-arrow {
  width: 8px;
  height: 11px;
  margin: 0 10px;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-list:hover {
  opacity: 0.6;
}

.breadcrumbs-list:focus {
  opacity: 1;
}

.breadcrumbs-list:active {
  opacity: 0.3;
}


.header-inner {
  margin: 0;
  padding: 0;
}

.inner-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  width: 1060px;
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  outline: 2px solid red;
  outline-offset: -2px;
}

.catalog-search-list {
  margin: 0;
  margin-top: 40px;
  padding: 0;
}

.catalog-filter {
  margin: 0;
  padding: 0;
  width: 1060px;
  display: grid;
  grid-template-columns: 371px 549px;
  justify-content: space-between;
}

.infrastructure {
  margin: 0;
  padding: 0;
  display: grid;
  width: 371px;
  grid-template-columns: 150px 150px;
  gap: 70px;
  grid-column: 1 / 2;

}

.filter-custom-container {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 288px 191px;
  width: 549px;
  gap: 70px;
  grid-column: 2 / -1;
}


.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 16px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  outline: 2px solid red;
  outline-offset: -2px;
  margin-bottom: 32px;
  padding: 0;
  text-transform: capitalize;
}

.catalog-filter-radio,
.catalog-filter-checkbox {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  outline: 2px red;
  outline-offset: -2px;
  margin: 0;
  padding: 0;
  margin-left: -2px;
}

.catalog-filter-custom {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.range {
  margin: 0;
  padding: 0;
  width: 288px;
  position: relative;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: space-between;
}

.range-wrapper-inputs input {
  appearance: none;
  margin: 0;
  padding: 12px 20px;
  width: 143px;
  height: 48px;
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border: none;
}

.custom:first-child .range-input {
  border-radius: 4px 0 0 4px;
}

.custom:last-child .range-input {
  border-radius: 0 4px 4px 0;
}

.custom-checkbox {
  width: 20px;
  min-height: 20px;
  background: #FFFFFF;
  border-radius: 4px;
  outline: 2px solid red;
  outline-offset: -2px;
}

.custom-checkbox-checked {
  color: #3F5E72;
  width: 12px;
  min-height: 10px;
  border-color: #FFFFFF;
  outline: 2px solid red;
  outline-offset: -2px;
}

.custom-radio {
  width: 20px;
  min-height: 20px;
  border-radius: 20px;
  border: none;
  background-color: #FFFFFF;
  outline: 2px solid red;
  outline-offset: -2px;
}

.custom-radio-checked {
  outline: 2px solid red;
  outline-offset: -2px;

}


.custom-range {
  outline: 2px solid red;
  outline-offset: -2px;

}

.custom-start,
.custom-finish {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;

}

.custom-from,
.custom-before {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  outline: 2px solid red;
  outline-offset: -2px;

}

.range-scale {
  position: relative;
  height: 4px;
  margin-bottom: 16px;
  background-color: #FFF;
  border-radius: 2px;
}


.filter-button {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
}

.button-submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background: #82B3D3;
  border-radius: 4px;
  width: 191px;
  height: 36px;
  margin-bottom: 32px;
  color: #FFFFFF;
  outline: 2px solid red;
  outline-offset: -2px;
}

.button-reset {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  background: none;
  width: 191px;
  height: 36px;
  outline: 2px solid red;
  outline-offset: -2px;
}

.select-container {
  display: grid;
  width: 1200px;
  margin: 0;
  padding: 50px 70px 60px 70px;
  gap: 40px;

}

.select {
  display: grid;
  grid-template-columns: auto 332px 160px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.select-control {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding: 14px 20px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  box-sizing: border-box;
  margin-right: 70px;
  outline: 2px solid red;
  outline-offset: -2px;
}

.select-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-right: auto;
  padding: 0;
  outline: 2px solid red;
  outline-offset: -2px;
}



.select-buttons {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 8px;
  justify-content: end;
}

.select-grid-toggle {
  width: 48px;
  height: 48px;
  text-decoration: none;
  padding: 14px 12px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  align-items: center;

}

.select-grid-panel {
  background: url(../images/sorters/cards-sorter.svg) no-repeat;
  background-position: center;
}

.select-grid-toggle-current {
  border: 2px solid #000000;
}

.select-grid-toggle:hover {
  border: 2px solid #000000;
}

.select-grid-toggle:focus {
  border: 2px solid #68A2CA;
}

.selectgrid-toggle:active {
  border: 2px solid #000000;
}


.select-grid-table {
  background: url(../images/sorters/table-sorter.svg) no-repeat;
  background-position: center;

}

.select-grid-list {
  background: url(../images/sorters/list-sorter.svg) no-repeat;
  background-position: center;

}

/* Catalog */
.catalog-cards-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin: 0;
  padding: 0;
  outline: 2px solid red;
  outline-offset: -2px;

}

.catalog-cards {
  border-radius: 4px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  padding: 20px;
  gap: 16px 20px;
  outline: 2px solid red;
  outline-offset: -2px;
}

.catalog-cards-link {
  outline: 2px solid red;
  outline-offset: -2px;
  grid-column: 1 / -1;
}

.catalog-cards-image {
  width: 300px;
  height: 100%;
  display: block;
  object-fit: cover;
}

.catalog-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  padding: 0;
  grid-column: 1 / -1;
  outline: 2px solid red;
  outline-offset: -2px;
}

.catalog-cards-details {
  text-decoration: none;
  color: #000000;
  grid-column: 1 / 2;
  outline: 2px solid red;
  outline-offset: -2px;
}

.catalog-cards-price {
  text-align: end;
  grid-column: 2 / -1;
}

.catalog-cards-item,
.catalog-cards-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  outline: 2px solid red;
  outline-offset: -2px;
}

.catalog-cards-details {
  width: 140px;
  background: #756157;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  padding: 8px 0;
  grid-column: 1 / 2;
  outline: 2px solid red;
  outline-offset: -2px;
}

.button-catalog {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
  width: 140px;
  min-height: 36px;
  border-radius: 4px;
  grid-column: 2 / -1;
  outline: 2px solid red;
  outline-offset: -2px;
}

.button-catalog:hover,
.button-catalog:focus {
  background: #68A2CA;
}

.button-catalog:active {
  background: #82B3D3;
  opacity: 0.3;
}


.button-catalog-basic {
  background: #82B3D3;
  outline: 2px solid red;
  outline-offset: -2px;
}

.button-catalog-selected {
  background: #7DB54F;

  outline: 2px solid red;
  outline-offset: -2px;
}

.catalog-cards-rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background: #F2F2F2;
  border-radius: 4px;
  width: 140px;
  margin: 0;
  padding: 9px 22px 8px 23px;
  grid-column: 2 / -1;
  outline: 2px solid red;
  outline-offset: -2px;
}

.catalog-stars-rating {
  background-image: url(../images/stars-rating.svg);
  background-repeat: no-repeat;
  object-fit: cover;
  display: block;
  width: 140px;
  height: 100%;
  grid-column: 1 / 2;
  outline: 2px solid red;
  outline-offset: -2px;
}

.catalog-stars-rating-three {
  width: 70px;
}

.catalog-stars-rating-two {
  width: 50px;
}

/* Pagination*/

.pagination {
  margin: 0;
  margin-top: 40px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(10, 60px);
  list-style-type: none;
  gap: 8px;
  outline: 2px solid red;
  outline-offset: -2px;

}

.pagination-item {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 2px solid red;
  outline-offset: -2px;
}

.pagination-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #82B3D3;
  border-radius: 4px;
  width: 60px;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 2px solid red;
  outline-offset: -2px;
}


.pagination-link:hover {
  border: 1px solid #82B3D3;
  background: #68A2CA;
}

.pagination-link:focus {
  border: 1px solid #82B3D3;
  background-color: rgba(104, 162, 202, 1);
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}


.pagination-current {
  color: #000000;
  background: #F2F2F2;
  outline: 2px solid red;
  outline-offset: -2px;
}

.pagination-current:hover,
.pagination-current:focus,
.pagination-current:active {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(242, 242, 242, 1);
}

.pagination-next {
  color: #000000;
  background-color: #FFFFFF;
  outline: 2px solid red;
  outline-offset: -2px;
}
